@import '../../styles/theme.scss';

.search-section {
  background: $background-main;

  &__title {
    margin-bottom: 6.4rem;
  }

  &__input {
    padding-left: 3rem;

    &-wrapper {
      position: relative;
      margin-bottom: 10rem;

      &::after {
        content: '';
        position: absolute;
        top: 120%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 0.2rem;
        background: $text-main;
      }
    }
  }
}
