@import '../../styles/theme.scss';

.logo {
  padding: 1rem;
  border: 0.1rem solid $text-contrast;
  transition: all 0.3s ease;

  &:hover {
    color: $text-main;
    border-color: $text-main;
  }
}
