@import '../../styles/theme.scss';

.footer {
  bottom: 0;
  width: 100%;
  position: fixed;
  color: $text-main;
  font-size: 4rem;
  background: $background-main;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;

  & .container {
    padding-top: 0;
    padding-bottom: 0;
  }

  &__nav {
    border: 0.1rem solid $text-main;
    padding: 5rem;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    border-bottom: 0;
  }

  &__list-item {
    transition: all 0.3s ease;

    &:hover {
      color: lighten($color: $text-main, $amount: 10);
    }
  }
}
